@use './../abstract/index' as * ;
@import url($fontsImport);

:root {
    @include colorVariables();
    @include fontVariables();
}

*, html {
    box-sizing: border-box;
}

body {
    @include fontFamily();
    margin: 0;
    padding: 0;
}

input, select, textarea, button {
    font-family: inherit;
}
