@use './../../styles/abstract' as theme;

.input {
    border: none;
}

.suggestionsList {
    list-style: none;
    padding: 0;
    font-size: 0.85rem;
}

.activeSuggestion {
    background-color: green;
}