@use './../../styles/abstract' as theme;

.searchbar {
    position: absolute;
    display: block;
    width: min(75%, 25em);
    background-color: white;
    float: right;
    padding: 0.75rem;
    border-radius: 0.35rem;
    right: 2rem;
    box-shadow: 0px 0px 10px 0px #00000026;
    z-index: 9999;

    .searchbarWrapper {
        display: grid;
        grid-template-columns: 92% 8%;
        align-items: center;

        input:focus {
            outline: none;
        }

        svg {
            color: var(--colors-primary-500);
        }
    }
}
