// @import './../../styles/variables'

$colors-neutral-100: white
$colors-neutral-700: black

// Zoom Control
.zoom-control 
    position: absolute
    right: 1rem
    top: 50vh
    display: flex
    flex-direction: column
    gap: 0.5rem
    z-index: 500

