html, body {
  margin: 0;
}

#App {
  height: 100vh;
}

.bm-item-list {
  height: 344px !important;
  width: 100vw !important;
  position: absolute !important;
  background: #03D094 !important;
  top: 0 !important;
  left: 0 !important;
}

/* .bmg-item:hover {
  color: white;
} */

.bm-item h1 {
    text-align: center;
    position: relative;
    /* margin-top: 10px; */
    top: 30px;
    font-family: Segoe Print;
    color: white;

}

.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 15px;
  left: 36px;
  top: 45px;
}

.bm-burger-bars {
  background: #16D89F;
  box-shadow: 0px 2px 4px rgba(121, 121, 121, 0.5);

}

.bm-burger-button span {
  height: 10% !important;
}

.bm-burger-button span:nth-child(1){
  width: 14px;
}

.bm-burger-button span:nth-child(3){
  width: 9px;
}


.bm-cross-button {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 60px !important;
  left: 8.5%;
}

.bm-cross{
  background: white;
}

.bm-menu{
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  box-shadow:  0px 19px 54px #bebebe82;
}

.bm-menu-wrap {
  width: 100vw !important;
  z-index: 3000 !important;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item.list {
  color: #b8b7ad
}

.bm-overlay {
  display: none;
}

.App {
  text-align: center;
}

.leaflet-container {
  height: 100vh;
}

.leaflet-div-icon {
  background: none;
  border: none;
}

.leaflet-bar {
  position: fixed !important;
  top: 40vh !important;
  right: 10px !important;
  box-shadow: none;
  background: none !important;
  border: none !important;
}

.leaflet-bar a,
.leaflet-bar a:hover {
	background-color: #fff;
  border-bottom: none;
  border-radius: 4px !important;
	width: 21px !important;
	height: 21px !important;
	line-height: 22px !important;
	display: block;
  text-align: center;
  font-size: 18px !important;
  font-weight: lighter !important;
	text-decoration: none;
  color: #d8d8d8;
  box-shadow: 0 5px 10px rgba(110, 110, 110, 0.14) !important;
  }
  
  .leaflet-bar a:last-child {
    margin-top: 10px !important;
  }

  /* Leaflet GeoSearch */

/* global styling */
.leaflet-control-geosearch *,
.leaflet-control-geosearch *:before,
.leaflet-control-geosearch *:after {
  box-sizing: border-box;
}

/* leaflet button styling */
.leaflet-control-geosearch .leaflet-bar-part {
  border-radius: 4px;
  border-bottom: none;
}

.leaflet-control-geosearch a.leaflet-bar-part:before,
.leaflet-control-geosearch a.leaflet-bar-part:after {
  position: absolute;
  display: block;
  content: '';
}

/* magnifying glass */
.leaflet-control-geosearch a.leaflet-bar-part:before {
  top: 19px;
  left: 16px;
  width: 8px;
  border-top: 2px solid #555;
  transform: rotateZ(45deg);
}

.leaflet-control-geosearch a.leaflet-bar-part:after {
  top: 6px;
  left: 6px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 2px solid #555;
}

/* resets for pending and error icons */
.leaflet-control-geosearch.error a.leaflet-bar-part:before,
.leaflet-control-geosearch.pending a.leaflet-bar-part:before {
  display: none;
}

.leaflet-control-geosearch.pending a.leaflet-bar-part:after,
.leaflet-control-geosearch.error a.leaflet-bar-part:after {
  left: 50%;
  top: 50%;
  width: 18px;
  height: 18px;
  margin: -9px 0 0 -9px;
  border-radius: 50%;
}

/* pending icon */
.leaflet-control-geosearch.pending a.leaflet-bar-part:after {
  content: '';
  border: 2px solid #555;
  border-top: 2px solid #f3f3f3;
  animation: spin 1s linear infinite;
}

/* error icon */
.leaflet-control-geosearch.error a.leaflet-bar-part:after {
  content: '!';
  line-height: initial;
  font-weight: 600;
  font-size: 18px;
  border: none;
}

/* search form styling */
.leaflet-control-geosearch form {
  display: block;
  position: relative;
  top: -2px;
  left: 28px;
  border-radius: 0 4px 4px 0;
  /* border: 2px solid rgba(0, 0, 0, 0.2); */
  border-left: none;
  background-color: #fff;
  background-clip: padding-box;
  z-index: -1;
  margin: 0;
  padding: 0 8px;
  height: auto;
}

.leaflet-control-geosearch.active form {
  display: block;
}

.leaflet-control-geosearch form input {
  min-width: 200px;
  width: 100%;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  height: 35px;
  border-radius: 0 4px 4px 0;
  text-indent: 8px;
}

.leaflet-control-geosearch .results {
  background: #fff;
}

.leaflet-control-geosearch .results > * {
  line-height: 24px;
  padding: 0 8px;
  border: 1px solid transparent;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leaflet-control-geosearch .results.active {
  padding: 8px 0;
  border-top: 1px solid #f4f4f4;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.leaflet-control-geosearch .results > .active,
.leaflet-control-geosearch .results > :hover {
  border-color: #f4f4f4;
  cursor: pointer;
}

/* add missing border to form */
.leaflet-control-geosearch .results.active:after {
  content: '';
  display: block;
  width: 0;
  /* border-left: 2px solid rgba(0, 0, 0, .2); */
  position: absolute;
  left: -2px;
  bottom: -2px;
  top: 30px;
}

/* Leaflet Routing */

.leaflet-routing-container {
  position: relative !important;
  top: 50px !important;
  width: 80vw !important;
  left: 10vw;
}

.leaflet-routing-geocoders input {
  /* width: 303px; */
  width: calc(100% - 4px);
  /* line-height: 1.67; */
  border: 1px solid #00A676;
  /* border: 1px solid; */
  background-color: #00A676;
  color: white;
  height: 36px;
  font-family: Montserrat;
  text-indent: 12px;
}

.leaflet-routing-geocoders {
  border-bottom: none;
  margin-bottom: 160px !important;
}

.leaflet-routing-geocoders input:placeholder{
  color: white !important;
}

.leaflet-routing-geocoders div {
  padding: 7px 0px 7px 0px;
}


/* animations */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.leaflet-top .leaflet-control-geosearch.bar,
.leaflet-bottom .leaflet-control-geosearch.bar {
  display: none;
}

.leaflet-control-geosearch.bar {
  position: absolute;
  top: 25px;
  right: 5%;
  display: block;
  width: 250px;
  margin: 10px auto 0;
  cursor: auto;
  z-index: 1000;
}

.leaflet-control-geosearch.bar form {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  box-shadow: 0px 2px 10px rgba(184, 184, 184, 0.21);
  border-radius: 8px;
}

.leaflet-control-geosearch.bar form input {
  min-width: 100%;
  width: 100%;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #DFDFDF;
}

.leaflet-control-geosearch.bar form input::placeholder {
  color: #DFDFDF;
}

.leaflet-control-geosearch.bar .results.active:after {
  opacity: .2;
}

.leaflet-right .leaflet-control-geosearch form {
  right: 28px;
  left: initial;
  border-radius: 4px 0 0 4px;
  border-left: inherit;
  border-right: none;
}

.leaflet-control-geosearch a.reset {
  display: none;
  color: black;
  position: absolute;
  line-height: 30px;
  padding: 0 8px;
  right: 0;
  top: 0;
  cursor: pointer;
  border: none;
}

.leaflet-control-geosearch a.reset:hover {
  background: #f5f5f5;
}

/* Routing CSS */

.leaflet-routing-container, .leaflet-routing-error {
  width: 320px;
  background-color: white;
  padding-top: 4px;
  box-sizing: border-box;
  z-index: 2000;
}

.leaflet-routing-alt, .leaflet-routing-geocoders, .leaflet-routing-error {
  padding: 6px;
  margin-top: 2px;
  margin-bottom: 10px;
  /* border-bottom: 1px solid #ccc; */
  max-height: 320px;
  overflow-y: auto;
  transition: all 0.2s ease;
}

.leaflet-routing-geocoders button {
  display: none;
}

.leaflet-routing-geocoders input::placeholder {
  color: white;
}

.leaflet-routing-remove-waypoint {
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  position: absolute !important;
  width: 100%;
}

.leaflet-routing-remove-waypoint:after {
  position: absolute;
  display: block;
  width: 15px;
  height: 13px;
  z-index: 1;
  top: -16px;
  bottom: 0;
  margin: auto;
  padding: 2px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color: white;
  padding-bottom: 16px;
  margin-top: -16px;
  padding-right: 4px;
  line-height: 1; 
  background: #00A676;
} 

.leaflet-routing-alt {
  box-shadow: 0px 4px 10px rgba(0,0,0,0.14);
  padding: 25px;
  font-size: 15px;
  line-height: 25px;
  /* width: 40px; */
  height: 273px;
  border: none !important;
  /* overflow-x: hidden !important; */
}

.leaflet-bar .leaflet-routing-alt:last-child {
  border-bottom: none;
  display: none;
}


td {
  vertical-align: top;
  padding: 5px;
}

.leaflet-routing-geocoder-result {
  font: 12px/1.5 Montserrat;
  color: white;
  position: absolute;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  z-index: 5000 !important; /* Arbitrary, but try to be above "most" things. */
}

.leaflet-routing-geocoder-result table {
  width: 100%;
  border: 1px solid #00A676;
  border-radius: 0px 0px 0px 0px;
  background-color: #00A676;
  cursor: pointer;
}

.leaflet-routing-container-hide .leaflet-routing-collapse-btn{
  display: none !important;
}

.leaflet-routing-geocoder-result-open {
  max-height: 800px;
}

.leaflet-routing-geocoder-selected, .leaflet-routing-geocoder-result tr:hover {
  background-color: #03D094;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 300px) {
  .bm-burger-button{
    left: 20px;
  }
}

@media (min-width: 500px) {

  .bm-burger-button{
    display: none;
  }
  
  .bm-menu-wrap{
    transform: translate3d(0, 0px, 0px) !important;
    width: 416px !important;
  }
  
  .bm-item-list {
    width: 416px !important;
  }

  .leaflet-routing-container {
    width: 320px !important;
    left: 45px;
  }

  .bm-cross-button {
    display: none;
  }

}